/* view/css/inscription.css */

.check-box-custom {
    -fx-font-size: 14px;
    -fx-padding: 5px 0;
}

.check-box-custom .box {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
}

.check-box-custom:selected .box {
    -fx-background-color: #4b96e1;
    -fx-border-color: #4b96e1;
}

.check-box-custom:selected .mark {
    -fx-background-color: white;
}

.eye-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}


.eye-button:hover {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 50%;
}

.success-message {
    -fx-text-fill: #4CAF50;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.error-message {
    -fx-text-fill: #D32F2F;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}